
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* { font-family: 'Nanum Gothic', sans-serif; }

#changePnB{
  padding: 0px;
  margin: 0px;


}
#addcolor{

  background-color:#FA6A5C;
color:#FFFFFF;}
#backcolor {
  background: linear-gradient( #F4A39A,#FFFFFF);


  background-color: #f4a39a;

}
#bgd {
    position: absolute;
    background-image: url("../image/콘서트.jpg");
    background-size: 178%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: auto;
    min-height: 1500px;
}

.spaceLeft {
  margin-left: 10px;
}
.spaceRight {
  margin-right: 10px;
}

/* custom checkbox */
.btn span.fa {
	opacity: 0;
}
.btn.active span.fa {
	opacity: 1;
}

.square-box{
    position: relative;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;

}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.thumbnail:hover {
background-color: #FA6A5C;
opacity: 0.5;

}
a:link {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: underline:none; color: white;}

.bg1{
  background-image: url(../image/concert.jpg);
  background-size:cover;

}
.bg2{
  background-image: url(../image/food.gif);
  background-size:cover;

}
.bg3{
  background-image: url(../image/sport.gif);
  background-size:cover;

}
.bg4{
  background-image: url(../image/study.gif);
  background-size:cover;

}
.bg5{
  background-image: url(../image/hobby.gif);
  background-size:cover;

}
.bg6{
  background-image: url(../image/local.gif);
  background-size:cover;

}
.bg7{
  background-image: url(../image/game.gif);
  background-size:cover;

}
.bg8{
  background-image: url(../image/outgoing.gif);
  background-size:cover;

}
.bg9{
  background-image: url(../image/thunder.gif);
  background-size:cover;

}
